html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:after, *:before{
    box-sizing: inherit;
}
body {
    font-family: "Ubuntu", sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

.header__top {
    width: 100%;
    max-width: 1180px;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__img {
    display: block;
    min-width: 58px;
    height: 58px;
    background: url(../img/opf.jpg) 0 0 / auto 100% no-repeat;
    margin-right: 20px;
    border-radius: 20%;
}

.logo__text {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 24px;
    line-height: 28px;
    color: #202020;
}

.nav {
    list-style-type: none;
    display: flex;
    font-size: 14px;
    position: relative;
}

nav ul {
    transition: ease 1s all;
}

.nav li + li {
    margin-left: 15px;
}

.nav li a {
    color: #202020;
    text-decoration: none;
    transition: all .3s;
}

.nav li a:hover,
.projects__btn a:hover {
    color: #fff;
    text-shadow: 0px 0px 3px #0f1786;
    transition: all .3s;
}

nav .mobile-bar {
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 1em;
    display: none;
}

nav .mobile-bar span {
    display: block;
    height: 2px;
    width: 20px;
    margin: 2px;
    background: #888;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 50px 15px;
}

.info__box {
    text-align: center;
}

.info__img img {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.125);
    border-radius: 50%;
    padding: 0.5rem;
    width: 200px;
    height: 200px;
}

.info__box-content {
    font-size: 32px;
    line-height: 1.5;
    margin: 30px;
}

.info__box-content p {
    font-size: 56px;
    color: #202020;
    font-weight: 700;
}

.info__btn {
    display: inline-block;
    margin: 40px 0px;
}

.info__btn img {
    display: flex;
    width: 30px;

}

/* section */

.technologies, 
.projects, 
.about {
    padding: 20px 0;
    position: relative;
    border-top: 1px solid #c2c2c2;
}


.section__title, h2 {
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    padding: 5px 15px;
    top: -13px;
    color: #c2c2c2;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.technologies__title,
.about__title {
    display: flex;
    justify-content: center;
    text-transform: lowercase;
    font-size: 18px;
    letter-spacing: 0.2px;
    margin: 30px 0;
    color: #202020;
    background-color: transparent;
}

.technologies__box, 
.projects__box {
    width: 100%;
    height: 100%;
}

.technologies__box-inner, 
.projects__box-inner {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box__item {
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
    filter: grayscale(100%);
}

.box__item:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    filter: none;
}

.box__item.logo {
    margin: 15px 15px;
    height: 90px;
    width: 90px;
    justify-content: center;
}

.box__item img {
    max-width: 100%;
    height: 100%;
}

.box__item.project {
    height: 340px;
    width: auto;
}

.box__item.project img {
    max-width: none;
}

.projects__btn {
    text-align: center;
    margin-top: 35px;
    font-weight: 700;
    font-size: 14px;
}

.projects__btn a {
    text-decoration: none;
    color: #202020;
    transition: all .3s;
}

.about__text ul {
    display: flex;
    justify-content: center;
}

.about__text li + li {
    margin: 0 10px;
}

.footer__box {
    background-color: #f7f7f7;
}

.footer__box .container {
    padding: 10px 15px;
}

.footer__box-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__map {
    padding-top: 10px;
    max-width: 630px;
    width: 100%;
}

.footer__map iframe {
    width: 100%;
}

.footer__copy {
    background-color: #303030;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    padding: 8px 0;
    font-weight: 400;
}

/* contact form */
form { max-width:420px; margin:50px auto; }

.feedback-input {
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #202020;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #0f1786; }

textarea {
  height: 150px;
  line-height: 150%;
  resize: none;
}

[type="submit"] {
  width: 100%;
  background: #202020;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:#fff;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#0f1786; }